.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.label{
  border-color: #30363d;
  color: #8b949e;
  border: 1px solid #30363d;
  border-radius: 2em;
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  padding: 0 7px;
  white-space: nowrap;
}
.link{
  color: #5e5e5e;
  text-decoration: none;
  font-size: 13px;
}
.responsive_iframe{
  width: 500px;
  height: 280px;
}
/* media for mobile */
@media (max-width: 768px) {
  .main{
    padding: 2rem;
  }
  .responsive_iframe{
    width: 325px;
    height: 180px;
  }
}